<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="http://fit.tdc.edu.vn/addons/default/themes/bootstrapThree/img/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>Nguyen Van Quy</title>
</head>
<body>
    <div class="container" style="color:brown;font-size: 100px;text-align: center;">
        Hello word
    </div>
</body>
</html>